/* COLORS

#0B0F1A; /*Dark blue*/
#14376C; /*Blue*/
#A9CFE2; /*Light blue*/
#FDFDFD; /*Dirty white*/
#B82B21; /*Red*

/* GLOBAL STYLES ----------------------------------------------------------*/

* {
   box-sizing: border-box;
}

html{ 
    height:100%;
}

body{
    background-color: #0B0F1A; /*Dark blue*/ 
    height: 100%;
    font-family: droid-sans-mono, monospace;
    font-size: 1.5em; 
    text-align: center;
    position: relative;
    color: white;
}

h1{
    text-transform: uppercase;
    font-weight: 100;   
}

h2, h3{
    text-transform: uppercase;
    font-weight: 100;
}

/* INTERFACE-----------------------------------------------------------------------------------*/

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    transition: opacity 0.6s;
}

a:hover{
    color:#14376C; /*Blue*/
}

.btn {
    padding: 8px 16px 8px 16px;
    text-align: center;
    color: white;
    border: 1.5px solid white;
    border-radius: 10px;
}

.btn:hover{
    color:  #0B0F1A;
    background-color: white;
}

/* MAIN NAVIGATION ------------------------------------------------------------------------------------*/

.navbar{
    max-width: 90vw;
    margin: auto;
    margin-bottom: 60px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.nav-link{
    font-size: 16px;
    padding: 8px 16px;
    color: white !important;
    text-transform: uppercase;
}

.nav-link:hover{
    opacity: .7;
}

.active{
    opacity: .7;
}

.navbar-brand{
    font-family: nasalization, sans-serif;
    color: #B82B21 /*Red*/ !important;
    font-size: 1.5em;
}

/* HERO --------------------------------------------------------------------------------------*/


.hero{
    background-image:url(../images/curiosity.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
}

.hero__items{
    transform: translate(0, 120px);
}


/* IMAGES ---------------------------------------------------------------------------------------*/

.img-fluid{
    width: 100%;
    height: auto;
}

.quote-section{
    max-width: 960px;
}

.blockquote-footer{
    color: white;
}

/* SCROLL BEHAVIOUR HOMEPAGE-------------------------------------------------------------------------*/

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: auto;  
}

.full-page{
    margin: auto;
    align-content: center;
    height: 100%;
    width: auto;
    scroll-snap-align: start;   
}

/* HOMEPAGE SECTIONS -----------------------------------------------------------------------------*/

#launch-section-homepage{
    background-image: url(../images/launch.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-right: 20%;    
}

#next-launch-container{
    max-width: 400px;
    text-align: left;
    transform: translate(0, -100px);   
}

#spacepeople-section-homepage{
    background-image: url(../images/astronaut.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-left: 10%; 
}

#people-container{
    text-align: left;
    max-width: 400px;
}

#about-section-homepage{
    margin: auto;
    display: flex;
    max-width: 960px;
}

.about__items{
    margin: auto;
    align-self: center;
}

/* ABOUT PAGE-------------------------------------------------------------------------------*/

#apod-section a:hover{
    opacity: 60%;
}

.about__intro{
    text-align: left;
    max-width: 800px;    
}

/* CONTACT PAGE-----------------------------------------------------------------------------*/

#contact-page{
    background-image: url(../images/space.jpg);
    min-height: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contact-form{
    text-align: left;
    font-size: 18px;
    max-width: 700px;
    margin: auto;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-family: droid-sans-mono, monopsace;
    width: 100%;
    background-color:#14376C; /*Blue*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:  #A9CFE2; /*Light blue*/
}

textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0 15px 0;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}

.error{
    color: #B82B21; /*Red*/
    font-size: 14px;
    display: none;
}

.social{
    padding: 6% 0 6% 0;
}

.social ul{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    padding: 0;
    margin: auto;
}

.social a:hover{
    text-decoration: underline;   
}

/* LAUNCHES PAGE ---------------------------------------------------------------------*/

#launches-page{
    background-image: url(../images/rocket-launch.jpg);
    min-height: 100vh;;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}

#launches-page h1{
    margin-bottom: 35px;
}

#scrolling-area{
    font-size: .8em;
    max-width: 500px;
    height: 65vh;
    overflow: auto;
    margin: auto;
    background-color: none;
}

#launch-container{
    text-align: left;
    padding-right: 5px;   
}

#launch-container a:hover{
    opacity: 60%;
    color: white;
}


* {
    scrollbar-width: thin;
    scrollbar-color: whitesmoke;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent; 
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;  
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}


/* TABLET AND MOBILE STYLES ------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
    
     .wrapper{
         scroll-snap-type: y proximity;
     }    
}

/*-----------------------------------------------*/

@media only screen and (max-width: 900px) {
    
    #spacepeople-section-homepage{
        padding-left: 5%; 
    }
   
    #people-container{ 
        max-width: 90vw;
    }
    
    #apod-container{
        max-width: 90vw;
    }
    
    #contact-form{
        max-width: 80vw;
    }
    
    #launch-container{
        max-width: 90vw;
    }
       
}

/*-------------------------------------------------*/

@media only screen and (max-width: 600px) {
    
    #scrolling-area{
        max-width: 90vw; 
    }
    
    #launch-section-homepage{
        justify-content: center !important; 
    }    
    
    #spacepeople-section-homepage{
	   display: flex;
       justify-content: center;
       align-items: center;
    }
}